<%= form_for @user, :html => { :multipart => true } do |form| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>
 
  <p>
    <%= form.label 'Role' %><br>
    <%= form.collection_select(:role_id, Role.active_roles, :id, :name, :prompt => 'Select') %>
  </p>
  
  <p>
    <%= form.label 'Pic' %><br>
    <%= form.file_field :profile_pic %>
  </p>

  <h3>Meta Details</h3>
  <%= form.simple_fields_for :user_metum do |user_metum| %>
    <%= render 'user_metum_fields', f: user_metum %>
  <% end %>
  <div class="links">&nbsp;
    <%= link_to_add_association 'Add Meta Detail', form, :user_metum, class: "btn btn-default add-button" %>
  </div><br/>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>