<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.try(:role).try(:name) %>
</p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @user.profile_pic.url(:thumb) %>
</p>
<%= link_to 'Back', users_path %>