<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.try(:role).try(:name) %>
</p>

<p>
  <strong>Pic:</strong>
  <%= image_tag @user.profile_pic.url(:thumb) %>
</p>

<p>
  <strong>Meta details:</strong><br/>
  <% @user.user_metum.each do |meta| %>
  Label: <%= meta.meta_key %> | Value: <%= meta.meta_value %><br/>
  <% end %>
</p>