<h3>Roles List</h3>
<table border="2px" class="table">
  <tr>
    <th>Name</th>
    <th>Visibility</th>
    <th colspan="3">Actions</th>
  </tr>
 
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= role.visibility? ? "Yes" : "No" %></td>
      <td><%= link_to 'Show', role_path(role) %></td>
      <td><%= link_to 'Hide Role', edit_role_path(role), class: "btn btn-success btn-xs" %></td>
      <td><%= link_to 'Destroy', role_path(role),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>