<!DOCTYPE html>
<html>
<head>
  <title>RolesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container" style="background:#D3D3D3">

<header>
  <%= link_to "<h3 style='text-align: center;''>Roles App</h3>".html_safe, roles_path %>
</header>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

<footer>
  <span style="float: right;"> Copyright 2017.</span>
</footer>

</body>
</html>
